body {
    background: var(--black);
    color: var(--white);
}

section#main {
    background-color: var(--black);
}

section#main img {
    background: var(--blue);
}

section#prayerbar {
    background-color: var(--blue);
}

section#sidebar {
    background-color: var(--blue);
}

/* Prayer elements */

#clockdiv {
    border-bottom: var(--grey) 1px solid;
}

span.prayer.active {
    background: var(--amber);
    color: var(--black);
}

span.prayer.active svg {
    fill: var(--black);
}

#timediv {
    border-bottom: var(--grey) 1px solid;
}

/* Sidebar tweaks on prayer elements */

section#sidebar.iqamah {
    background-color: var(--amber);
}

section#sidebar.salah {
    background-color: var(--vivid-green-cyan);
}

section#sidebar.iqamah, section#sidebar.salah {
    color: var(--black);
}

section#sidebar.iqamah #clockdiv, section#sidebar.iqamah #timediv, section#sidebar.salah #clockdiv, section#sidebar.salah #timediv {
    border-color: var(--black);
}

/* TICKER */

section#ticker {
    background-color: var(--black);
}

.ticker-wrap .ticker__item {
    color: var(--white);
}